fastapi==0.95.0
uvicorn==0.18.2
python-multipart==0.0.5
PyPDF2==1.26.0
pillow==9.4.0
pytesseract==0.3.9
pyngrok==5.1.0
openai-whisper==20240930 # Make sure this is the correct version
tesseract-ocr  # This is installed via apt, no need to include in requirements.txt
